@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap');

/*font-family: 'Merriweather', serif;*/

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400&display=swap');

/*font-family: 'Work Sans', sans-serif;*/

:root{
    --cor01: #27dbb7;
    --cor02: #8B53DB;
    --cor03: #3DDBBB;
    --cor04: #DB5727;
    --cor05: #DBD632;
}

#formulario {       
    position: absolute;
    top: 38%;
    left: 40%;
}

fieldset{
    width: 50%;
    padding: 1em;
    background-color: black;
    color: white;
}


#form-principal input{
    width: 100%;
    height: 30px;
    border-radius: 4px;
    margin-bottom: 20px;
    
}

#form-principal label{
   
    width: 100%;
}


#fieldset-paragrafo{
    margin-bottom: 50px;    
    font-size: 20px;
}

#fieldset-paragrafo2{
    font-size: 20px;
    margin-bottom: 20px;
}

#form-secundario{
    display: flex;
    flex-direction: column;
}

.input-interesses{
    margin-bottom: 8px;
}

#comentario{
    width: 93%;
    height: 40px;
    padding: 10px;
    border-radius: 4px;
}

#botao{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 2px;
   background: #8B53DB;
   font-size: 16px;
   color: white;
}

#botao:hover{
    transform: scale(1.1);
    background-color: #b484f7;
    transition: 1s;
}


@media screen and (max-width: 920px) {
    #formulario{
        position: static;
              
    }

    fieldset{
        width: 400px;        
        flex-direction: column;
        margin: 0 auto;
    }
}


@media screen and (max-width: 390px) {
    #formulario {
        width: 100%;
    }

    fieldset {
        width: 360px;
    }
}